*{
    margin: 0;
    padding: 0;

}
body{
    font-family: Mulish;

}
a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
}
nav{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
nav h2{
    display: inline;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
} 
nav h2 span{
    color: #FF5400;
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.title{
    display: flex;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    margin-left: 2.5rem;

}
nav li a{ 

    display: inline;
    color: #424247;
    font-size: 18px;
    transition: .3s ease-in-out;
}
nav img{
    margin-right: .8rem;
}
nav li a:hover{
    color: #FF5400;
}
.bar{ 
    font-size: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;

}
/* banner part start */
main{
    width: 80%;
    margin: 0 auto;
}
.banner{
    width: 100%;
    height: 60vh;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-size: cover;
}
.description{
    padding: 4rem;
    text-align: center;
}
.description h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}
.description p{
    color: #FFF;
    font-size: 1rem;
    line-height: 1.6rem;
}
.option{
    width: 71%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: .6rem 0;
    
}
.option .element{
    width: 12rem;
    background: #FFF;
    text-align: center;
    padding: 1rem;
    border-radius: .8rem;
    
}
.option .element i{
    margin-right: 5px;
}
#color{
    background: #FF5400;
    color: #FFF;
}
option{
    display: inline;

}
select{
    border: none;
}
/* banner part end */
/* populat part start */
.popular-tur{
    margin: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.popular-tur .detail{
    width: calc(50% - 1.5rem);
}
.heading-pra{
    color: #131318;
   font-size: 2.5rem;
   font-weight: 800;
   margin-bottom: 2rem;
}
.pra , .popular-tur p{
    color: rgba(19, 19, 24, 0.70);
     font-size: 1rem;
    line-height: 2rem;
}
.popular-tur .detail ul{
    padding-left: 3rem;
}
.btn{
    border: none;
    border-radius: .5rem;
    margin-top: 2.5rem;
    width: 10.5rem;
    height: 3.3rem;
    background:#FF5400;
    margin-bottom: .6rem;
  
}
.btn a{
     color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.containers{
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 100%;
    display: grid;
    gap: 1rem; 
    grid-template-areas:
     " iteam1  iteam1 iteam2  iteam2"
      "iteam3  iteam4  iteam4  iteam5"
    " iteam6  iteam6  iteam7  iteam7";
        
}
.header{
    text-align: center;
}
.iteam1{
    grid-area:iteam1;
    height: 280px;
    border-radius: 16px;
     background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 5.png");
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
}
.containers p{
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 800;
}
.iteam2{
    grid-area: iteam2;
    height: 280px;
    border-radius: 16px;
     background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 8.png");
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
}
.iteam3{
    grid-area: iteam3;
    height: 280px;
    border-radius: 16px;
     background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 6.png");
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     background-repeat: no-repeat;
}
.iteam4{
    grid-area: iteam4;
    height: 280px;
    border-radius: 16px;
     background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 7.png");
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
}
.iteam5{
    grid-area: iteam5;
    height: 280px;
    border-radius: 16px;
     background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 9.png");
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
}
.iteam6{
    grid-area: iteam6;
    height: 280px;
    border-radius: 16px;
     background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 11.png");
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
}

.iteam7{
    grid-area: iteam7;
    height: 280px;
    border-radius: 16px;
     background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url("../Images/Rectangle\ 10.png");
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
}
/* populat part end */

/* card part */
.card-container{
    margin-top: .6rem;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
.card i{
    margin: 1rem 0;
    font-size: 3rem;
    color: #FF5400;
}

.card{
    padding: 1rem;
    width: calc(48% - 1.7rem);
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);

}
.card h4{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: .5rem;
}
.deal-container{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    gap: 1rem;
}
.deal-container .img1{
    height: 45vh;
    background: url("../Images/Group\ 39.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.over{
    width: 50%;
    height: 75%;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    padding: 3rem;
}
.over i{
    color: #FF5400;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.over h5{
    color: #131318;
font-size: 24px;
font-weight: 800;
line-height: 3rem;
}
.over span{
    color: #FF5400;
    font-weight: 800;
    font-size: 1.3rem;
}
.deal-container .img3{
    height: 45vh;
    background: url("../Images/Group\ 39.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.deal-container .img2{
    height: 45vh;
    background: url("../Images/Group\ 40.png");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.all{
    margin: 0 auto 2rem;
}
.all .btn{
    width: 15rem;
}
/* video part start */
.video-main .header{
    text-align: left;

}
.video-main{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.newslatter-main{
    margin-bottom: 4rem;
    gap: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.newslatter-main .header{
    padding: 1rem;
    text-align: left;
    border-radius: 16px;
   border: 1px solid #FF5400;
}
.newslatter-main .heading-pra{
    margin-bottom: .8rem;
}
.imput-cont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.newslatter-main input{
    color: rgba(19, 19, 24, 0.30);
    margin-top: 1rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.newslatter-main .btn{
    width: 100%;
}
.newslatter-img{
    position: relative;
}
.off{
    color: #FFF;
    padding-top: 1rem;
    width: 50%;
    height: 5rem;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    transform: rotate(-19.628deg);
    position: absolute;
    right: 0;
    bottom: 3.3rem;
}
.footer{
    padding: 130px 0;
    width: 100%;
    height: 250px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}
.footer h2{
    margin-left: 1rem;
    display: inline;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
} 
.footer h2 span{
    color: #FF5400;
}
.footer .title{
    display: inline;
    
}
.footer p{
    margin: 3rem 0;
}
.footer i{
    font-size: 3rem;
    padding: 1rem;
    margin-bottom: 2rem;
}






@media screen and (max-width:576px) {
    nav , main{
        width: 95%;
    }
    .bar{
        visibility: visible;
    }
    .hide{
        display: none;
    }
    .nav-container h2{
        font-size: 1.5rem;
        font-weight: 800;
    }
    .description h1{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .description{
        padding: 0;
    }
    .pra , .description p{
        font-size: .9rem;
        line-height: 1rem;
    }
    .option , .popular-tur ,
     .card-container , .video-main
      , .newslatter-main

    
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card , .popular-tur .detail{
        width: 100%;
    }
    .card{
        padding: .3rem;
        width: 90%;
    }
    .detail h3{
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5rem;

    }
    .heading-pra , .detail p{
        font-size: 1rem;
        line-height: 1rem;
    }
    .containers{
        grid-template-areas: 
        "iteam1"
        "iteam2"
        "iteam3"
        "iteam4"
        "iteam5"
        "iteam6"
        "iteam7" ;
    }
    .img1 , .img2 , .img3{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .over{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 95%;
        text-align: center;
    }
    .over .btn{
        margin-top: 10px;
    }
    .off{
        width: 80%;
        height: 3.5rem;
        bottom: 2rem;
    }
    .footer{
        height: auto;
        width: 100%;
        padding: 0;
    }

}